*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f2f5;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-form {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex-basis: 25em;
}

h1 {
    font-size: 2em;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

a{
    text-decoration: none;
    color: #fff;
}

.btn{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#check{
    display: flex;
    justify-content: center;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    /* flex-basis: 100%; */
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #dddfe2;
    background-color: #f0f2f5;
    font-size: 14px;
}

button[type="submit"] {
    padding: 12px;
    border-radius: 4px;
    background-color: #1877f2;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}



.terms {
    font-size: 12px;
    color: #65676b;
}


#error-message{
    color: red;
    text-align: center;
    border-radius: 1em;
    font-size:large;
}

#success{
    background-color: #f0f2f5;
    text-align: center;
    border-radius: 1em; 
    font-size:large;
}

#success p{
    padding: 0 1em;
}
