/* global */

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    gap: 1em;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1.4em;
}

.main-container {}


/* header */

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #3b5998;
    color: #fff;
    align-items: center;
}

header img {
    width: 7em;
    border-radius: 1em;
}

.top-header {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

.top-header {
    cursor: pointer;
}

#all-categary {
    display: flex;
    align-items: center;
    gap: 1em;
}

/* footer  */


footer {
    flex: 0 0 auto;
    text-align: center;
    font-size: 14px;
    background-color: #f0f2f5;
    color: #999;
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

footer a {
    all: unset;
    list-style-type: none;
    color: #1d2e7a6e;
}

footer a:hover {
    cursor: pointer;
}

ul {
    flex-basis: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

li {
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-basis: 15em;
    border-radius: 1em;
    padding: 1em;
    /* background-color: antiquewhite; */
    gap: 1em;
    align-items: center;
    box-shadow: 0 0 20px rgb(116, 116, 224);
    /* border: 1px rgb(116, 116, 224) solid; */
}

.title {
    text-align: center;
}

.image {
    height: 10em;
    width: 10em;
}

.price {}

.description {
    text-align: center;
    font-size: 0.6em;
}

.rating {
    background-color: green;
    color: #fff;
    padding: 1px;
    border-radius: 4px;
}

.btn {
    background-color: #3b5998;
    border: none;
    padding: 1em;
    border-radius: 1em;
    color: #fff;
}

.btn:hover {
    cursor: pointer;
    background-color: green;
}


ul li div {
    display: flex;
    gap: 2em;
}


select {
    border-radius: 1em;
    padding: 0.5em;
    font-size: smaller;
}

select:hover {
    cursor: pointer;
    position: relative;
    display: inline-block;
}


/* media query */


@media (max-width:780px) {
    header {
        flex-direction: column;
        gap: 1em;
    }
}


@media (max-width:380px) {
    header {
        flex-wrap: wrap;
    }


    #all-categary {
        flex-direction: column;
    }

    .top-header {
        /* font-size: small; */
        flex-direction: column;
        text-align: center;
    }

    footer{
        gap: 1em;
        flex-direction: column;
    }

}

/* loader */

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    align-self: center;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }